{{#if bits_declarations}}
## **BITS**
{{#each bits_declarations}}
### {{rpn name}} {{#if strict}}[strict]{{else}}[flexible]{{/if}}(/fuchsia-src/reference/fidl/language/language#strict-vs-flexible){:.fidl-attribute} {#{{rpn name}}}
Type: <code>{{type.subtype}}</code>

{{> filename }}

{{> doc }}

<table>
    <tr><th>Name</th><th>Value</th><th>Description</th></tr>
    {{~ #each members ~}}
        <tr id="{{rpn ../name}}.{{~ name ~}}">
            <td>{{~ name ~}}</td>
            <td>{{~ value.literal.value ~}}</td>
            <td>{{~> doc ~}}</td>
        </tr>
    {{~ /each ~}}
</table>
{{/each ~}}
{{/if ~}}