{{#if enum_declarations}}
## **ENUMS**
{{#each enum_declarations}}
### {{rpn name}} {#{{rpn name}}}
Type: <code>{{type}}</code>

{{> filename }}

{{> doc }}

<table>
    <tr><th>Name</th><th>Value</th><th>Description</th></tr>
    {{~ #each members ~}}
        <tr id="{{rpn ../name}}.{{~ name ~}}">
            <td><code>{{~ name ~}}</code></td>
            <td><code>{{~ value.literal.value ~}}</code></td>
            <td>{{~> doc ~}}</td>
        </tr>
    {{~ /each ~}}
</table>
{{/each ~}}
{{/if ~}}
