## **PROTOCOLS**
{{#each protocol_declarations}}

## {{rpn name}} {#{{rpn name}}}
{{> filename }}

{{> doc }}

{{#each methods}}

### {{rpn name}} {#{{methodId (rpn name) (rpn ../name)}}}

{{> doc }}


{{#if has_request}}

#### Request {#{{methodId (rpn name) (rpn ../name)}}_Request}

{{#if maybe_request}}
<table>
    <tr><th>Name</th><th>Type</th></tr>
    {{#each maybe_request.members}}
        <tr>
            <td><code>{{~ name ~}}</code></td>
            <td>
                <code>
                    {{~> type ~}}
                </code>
            </td>
        </tr>
    {{/each}}
</table>
{{else}}
&lt;EMPTY&gt;
{{/if}}
{{/if}}

{{#if has_response}}

#### Response {#{{methodId (rpn name) (rpn ../name)}}_Response}

{{#if maybe_response}}
<table>
    <tr><th>Name</th><th>Type</th></tr>
    {{#each maybe_response.members}}
        <tr>
            <td><code>{{~ name ~}}</code></td>
            <td>
                <code>
                    {{~> type ~}}
                </code>
            </td>
        </tr>
    {{/each}}
</table>
{{else}}
&lt;EMPTY&gt;
{{/if}}
{{/if}}
{{/each}}
{{/each}}
