{{#if struct_declarations}}
## **STRUCTS**
{{#each struct_declarations}}
{{~ #unless anonymous}}
### {{rpn name}} {#{{rpn name}}}
{{> filename }}

{{> doc }}

<table>
    <tr><th>Name</th><th>Type</th><th>Description</th><th>Default</th></tr>
    {{~ #each members ~}}
        <tr id="{{rpn ../name}}.{{~ name ~}}">
            <td><code>{{~ name ~}}</code></td>
            <td>
                <code>
                    {{~> type ~}}
                </code>
            </td>
            <td>
                {{~> doc ~}}
            </td>
            <td>
                {{~ #if maybe_default_value ~}}
                    {{~ #if (eq maybe_default_value.kind "identifier") ~}}
                        {{~ pl maybe_default_value.identifier @root.name ~}}
                    {{~ else ~}}
                        {{~ #if (eq maybe_default_value.kind "literal") ~}}
                            {{~ #if maybe_default_value.literal.value ~}}
                                {{~ maybe_default_value.literal.value ~}}
                            {{~ else ~}}
                                {{~ maybe_default_value.literal.kind ~}}
                            {{~ /if ~}}
                        {{~ /if ~}}
                    {{~ /if ~}}
                {{~ else ~}}
                    No default
                {{~ /if ~}}
            </td>
        </tr>
    {{~ /each}}
</table>
{{/unless ~}}
{{/each ~}}
{{~ /if ~}}