## **TABLES**
{{#each table_declarations}}

### {{rpn name}} {{#if resource}}[resource](/fuchsia-src/reference/fidl/language/language.md#value-vs-resource){:.fidl-attribute}{{/if}} {#{{rpn name}} data-text="{{rpn name}}"}
{{#if type}}Type: <code>{{type}}</code>{{/if}}

{{> filename }}

{{> doc }}

<table>
    <tr><th>Ordinal</th><th>Field</th><th>Type</th><th>Description</th></tr>
    {{#each members}}
        <tr id="{{rpn ../name}}.{{~ name ~}}">
            {{!-- This uses h3 since fuchsia.dev does not apply heading style if an h2/h3 is in a table --}}
            <td><h3 id="{{rpn ../name}}.{{~ name ~}}" class="add-link hide-from-toc">{{~ ordinal ~}}</h3></td>
            <td><code>
                {{~ #if reserved ~}}
                    RESERVED
                {{~ else ~}}
                    {{~ name ~}}
                {{~ /if ~}}
            </code></td>
            <td>
                <code>
                    {{~> type ~}}
                </code>
            </td>
            <td>
                {{~> doc ~}}
            </td>
        </tr>
    {{/each}}
</table>
{{/each}}