{{#if table_declarations}}
## **TABLES**
{{#each table_declarations}}
### {{rpn name}} {#{{rpn name}}}
{{#if type}}Type: <code>{{type}}</code>{{/if}}

{{> filename }}

{{> doc }}

<table>
    <tr><th>Ordinal</th><th>Name</th><th>Type</th><th>Description</th></tr>
    {{#each members ~}}
        <tr id="{{rpn ../name}}.{{~ name ~}}">
            <td>{{~ ordinal ~}}</td>
            <td><code>{{~ name ~}}</code></td>
            <td>
                <code>
                    {{~> type ~}}
                </code>
            </td>
            <td>
                {{~> doc ~}}
            </td>
        </tr>
    {{~ /each ~}}
</table>
{{/each ~}}
{{/if}}