{{#if union_declarations}}
## **UNIONS**
{{#each union_declarations}}
### {{rpn name}} {{#if strict}}[strict]{{else}}[flexible]{{/if}}(/fuchsia-src/reference/fidl/language/language#strict-vs-flexible){:.fidl-attribute} {{#if resource}}[resource](/fuchsia-src/reference/fidl/language/language.md#value-vs-resource){:.fidl-attribute}{{/if}} {#{{rpn name}} data-text="{{rpn name}}"}
{{> filename }}

{{> doc ~}}

{{#if members}}
<table>
    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
    {{~ #each members ~}}
        <tr id="{{rpn ../name}}.{{~ name ~}}">
            <td><code>{{~ name ~}}</code></td>
            <td>
                <code>
                    {{~> type ~}}
                </code>
            </td>
            <td>{{~> doc ~}}</td>
        </tr>
    {{~ /each ~}}
</table>
{{~ /if}}
{{/each ~}}
{{~ /if ~}}