{{#if union_declarations}}
## **UNIONS**
{{#each union_declarations}}
### {{rpn name}} {#{{rpn name}}}
{{> filename }}

{{> doc ~}}

{{#if members}}
<table>
    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
    {{~ #each members ~}}
        <tr id="{{rpn ../name}}.{{~ name ~}}">
            <td><code>{{~ name ~}}</code></td>
            <td>
                <code>
                    {{~> type ~}}
                </code>
            </td>
            <td>{{~> doc ~}}</td>
        </tr>
    {{~ /each ~}}
</table>
{{~ /if}}
{{/each ~}}
{{~ /if ~}}